/* inicio navbar */
nav {
    background-color: $blanco;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0;
    padding: 0;
}
.menu {
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0;
    text-align: center;

    li{
    display:inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-family: 'Anek Devanagari';
    position: relative;
    top: -10px;

        nth-last-child {
        margin-right: 0;
        }
    & a {
    display: block;
    text-decoration: none;
    color: $morado;
    }
    .imagecontainer img {
        position: relative;
        top: 35px;
        display:block;
        width: 100px;
        height: auto;
    }
}
}
#logo2 {
    max-width: 100px;
    max-height: 75px;
}
.container-fluid {
    padding: 20px;
}
.pruebacontainerfluid1 {
    background-color: $blanco;
}
.navbar-toggler-icon {
    color: $morado;
}
.offcanvas-body a{
    color: $morado;
    font-family: 'Anek Devanagari';
}
.offcanvas-body{
    background-color: $rosado;
}
.bg-body-tertiary {
    background-color: $blanco;
}
.offcanvas-header {
    background-color: $morado;
}
@media (min-width: 1260px) {
    .bg-body-tertiary {
        display: none;
    }
    .navgrande {
        display: flex;
    }
}
@media (max-width: 1260px) {
    .bg-body-tertiary {
        display: flex;
    }
    .navgrande {
        display: none;
    }
}
@media (min-width: 561px) {
    #logo2 {
        max-width: 120px;
        max-height: 90px;
    }
}
.dropdown-menu {
    width: 180px;
    height: 110px;
    padding: 15px 0 20px 0;
    border-color: $rosado;
}
.dropdownitemcont {
    width: 60px;
    height: 30px;
    padding: 0;
    margin: 0;
    padding: 0;
}
.dropdown-item {
    padding-left: 0;
}
.item2 {
    width: 140px;
}
.dropdownitemcont1 {
    padding: 0 10px 0 10px;
}
.menucel {
    background-color: $rosado;
    border-color: $rosado;
    padding: 0;
    height: 70px;
}
.item2b {
    width: 178px;
}
.navgrande ul li.dropdownitemcont {
    margin: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
  }
/* fin navbar */
