body {
    background-color: $rosado;
}

/* inicio página principal (index) */
.section0 {
    max-width: 100%; 
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}

/* Página principal: inicio sección "Sobre Nosotros" */
.section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 100px;
    padding: 20px;
}
.vannia img {
        width: 375px;
        height: 500px;
}
.leftcontent {
    padding-top: 20px;
    max-width: 400px; 
}
@mixin sobrenosp ($fontfam, $colour, $fontsize, $textalign) {
    font-family: $fontfam;
    color: $colour;
    font-size: $fontsize;
    text-align: $textalign;
}
.head1 {
    @include sobrenosp($titulo, $morado, 45px, center);
    margin-bottom: 20px;
}
.pnosotros {
    @include sobrenosp($parrafo, $cereza, 16px, justify);
    max-width: 400px; 
    white-space: pre-wrap;
}
@media (max-width: 1023px) {
    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:fit-content;
        margin-bottom: 40px;
    }
    .vannia img {
        width: 100%;
        height: auto;
        margin-left: 0;
        max-width: 394px;
    }
}
@media (max-width:560px) {
    .head1 {
        font-size: 30px;
    }
    .pnosotros {
        font-size: 14px;
    }
    .leftcontent {
        margin-right: 0;
    }
    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:fit-content;
        margin-bottom: 40px;
        gap: 40px;
        padding: 20px;
    }
    .vannia img {
        max-width: 297px;
    }
}
@media (max-width:390px) {
    .vannia img {
        max-width: 250px;
    }
}
/* Página principal: fin sección "Sobre Nosotros" */

/* Página principal: inicio sección "Servicios" */
.section2 {
    height: 400px;
    background-color: $blanco;
    padding: 30px;
}
.containerservicios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
@mixin serviciosp ($fontf, $colour, $fonts) {
    font-family: $fontf;
    color: $colour;
    font-size: $fonts;
}
.head2 {
    @include serviciosp($titulo, $morado, 40px);
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.serviciossub {
    flex-grow: 1;
    margin: 20px 10px 20px 10px;
    text-align: center;

    i {
        display: block;
        font-size: 30px;
        margin-bottom: 10px;
        color: $morado;
    }
}
.head3 {
    @include serviciosp($titulo, $morado, 25px);
    margin-bottom: 5px;
}
.pservicios {
    @include serviciosp($parrafo, $cereza, 15px);
    max-width: 250px; 
    text-align: center;
    white-space: pre-wrap; /* Permite que los saltos de línea se muestren */
    margin: auto;
}
@media (min-width: 901px) and (max-width: 1199px) {
    .section2 {
        height: auto;
    }
}
@media (max-width: 900px) {
    .section2 {
        height: fit-content;
        padding-bottom: 20px;
    }
    .containerservicios {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 478px) {
    .head3 {
        font-size: 15px;
    }
    .pservicios {
        font-size: 12px;
    }
    .containerservicios {
        display: flex;
        justify-content: center;
        margin: auto;
    }
}
/* Página principal: fin sección "Servicios" */

/* Página principal: inicio sección "Carta" */
.section3 {
    height: auto;
    padding: 30px;
}
@mixin contcarta ($flexd, $justify, $align, $pad) {
    display: flex;
    flex-direction: $flexd;
    justify-content: $justify;
    align-items: $align;
    padding: $pad;
}
.containercarta {
    @include contcarta(column, center, center, 20px);
}
.containercarta2 {
    @include contcarta(row, space-evenly, center, 20px 0 20px);
    gap: 150px;
}
.cartaimg {
    flex: 1 0 auto;
    position: relative;
}
.imagecontainer2 {
    width: 450px;
    height: 338px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;

    img {
        transition: transform 0.5s ease;
    }
}
.cartaimg:hover .imagecontainer2 img {
    transform: scale(1.1);
}

@media (max-width: 580px) {
    .containercarta2 {
        display: flex;
        flex-direction: column;
    }
    .section3 {
        height: auto;
    }
    .imagecontainer2 {
        width: 300px;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }
}
@media (max-width: 1065px) {
    .containercarta2 {
        display: flex;
        flex-direction: column;
    }
    .section3 {
        height: auto;
    }
}
@media (min-width: 1065px) and (max-width:1143px) {
    .containercarta2 {
        gap: 80px;
    }
}
@media (min-width: 1143px) {
    .containercarta2 {
        gap: 150px;
    }
}


/* Página principal: fin sección "Carta" */

/* Página principal: inicio sección "Contáctanos" */
.section4 {
    height: 620px;
    padding: 20px;
    background-color: $blanco;
}
@mixin contcontact ($flexd, $justify, $align) {
    display: flex;
    flex-direction: $flexd;
    justify-content: $justify;
    align-items: $align;
}
.containercontactanos {
    @include contcontact(row, center, center);
    padding: 30px;
    gap: 80px
}
@mixin cont2contact ($flexd, $maxw, $justify) {
    display: flex;
    flex-direction: $flexd;
    max-width: $maxw;
    justify-content: $justify;
}
.leftcontactanos {
    @include cont2contact(column, 500px, center);
}
.mapa {
    width: 500px;
    height: 300px;
    padding: 5px;
}
@mixin pcontact ($fontf, $colour, $fonts) {
    font-family: $fontf;
    color: $colour;
    font-size: $fonts;
}
.pcontactanos1 {
    @include pcontact($parrafo, $morado, 14px);
    font-weight: bold;
    padding: 5px;
}
.informaciongeneral {
    @include contcontact(row, flex-start, center);
    gap: 30px;
}
.informacion{
    display: flex;
    justify-content: flex-start;
}
.direc {
    gap: 10px;
    padding: 5px;
}
.fa-location-dot {
    color: $cereza;
    padding: 5px;
}
.horario {
    @extend .direc;
}
.pcontactanos2 {
    @include pcontact($parrafo, $cereza, 12px);
}
.rightcontactanos {
    @include cont2contact(column, 450px, center);

    p {
        padding: 5px;
    }

    i {
        color: $cereza;
        font-size: 18px;
        padding: 5px;
        margin-top: 3px;
    }
}
@mixin cont3contact ($flexd, $gap) {
    display: flex;
    flex-direction: $flexd;
    gap: $gap;
}
.contactanosredes1 {
    @include cont3contact(row, 66px);
    justify-content: flex-start;
}
.whatsapp {
    display: flex;
    flex-direction: row;
}
.correo {
    @extend .whatsapp;
}
.contactanosredes2 {
    @include cont3contact(row, 47px);
}
.instagram {
    @extend .whatsapp;
}
.facebook {
    @extend .whatsapp;
}
.pcontactanos3 {
    @include pcontact($parrafo, $cereza, 14px);
}
.contactanosform {
    align-items: center;
}
.formnombreapellido {
    margin-bottom: 15px;
}
#email {
    width: 450px;
    margin-bottom: 15px;
}
#mensaje {
    @extend #email;
}
#nombre {
    width: 222px;
}
#apellido {
    @extend #nombre;
}
.botonenviar {
    @include pcontact($parrafo, $rosado, 10px);
    background-color: $cereza;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 8px 30px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background-color: #BF7256;
    }
}
@media (max-width:1071px) {
    .containercontactanos {
        display: flex;
        flex-direction: column;
    }
    .section4 {
        height: 1125px;
    }
    .rightcontactanos {
        max-width: 500px;
    }
    #email, #mensaje {
        width: 490px;
    }
    #nombre, #apellido {
        width: 242px;
    }
    .contactanosform {
        padding: 5px;
    }
    .contactanosredes1 {
        gap: 91px;
    }
    .contactanosredes2 {
        gap: 72px;
    }
}

@media (min-width:366px) and (max-width:564px) {
    .section4 {
        height: auto;
    }
    .rightcontactanos {
        max-width: 320px;
        padding:0;

        i {
            font-size: 12px;
    }

        p {
            font-size: 12px;
        }
    }
    .contactanosredes1 {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .contactanosredes2 {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .mapa {
        width: 320px;
        height: 150px;
    }
    .containercontactanos {
        padding: 10px;
        gap: 0;
    }
    @mixin winfo1 {
        width: 320px;
    }
    #email, #mensaje, #nombre, #apellido {
        @include winfo1;
    }
    .pcontactanos3 {
        font-size: 12px;
    }
    .contactanosform {
        padding: 0;
    }
    .formnombreapellido {
        gap: 20px;
        margin-bottom: 0;
    }
}

@media (max-width:366px) {
    .section4 {
        height: auto;
    }
    .rightcontactanos {
        max-width: 250px;
        padding:0;
        
        i {
            font-size: 12px;
        }
        p {
            font-size: 12px;
        }
    }
    .mapa {
        width: 250px;
        height: 150px;
    }
    @mixin media2cont ($flexd, $gap) {
        display: flex;
        flex-direction: $flexd;
        gap: $gap;
    }
    .informaciongeneral {
        @include media2cont(column, 0);
        align-items: flex-start;
    }
    .containercontactanos {
        padding: 10px;
        gap: 0;
    }
    .contactanosredes1 {
        @include media2cont(column, 0);
    }
    .contactanosredes2 {
        @include media2cont(column, 0);
    }
    @mixin winfo2 {
        width: 250px;
    }
    #email, #mensaje, #nombre, #apellido {
        @include winfo2;
    }
    .pcontactanos3 {
        font-size: 12px;
    }
    .contactanosform {
        padding: 0;
    }
    .formnombreapellido {
        gap: 20px;
        margin-bottom: 0;
    }
}
/* Página principal: fin sección "Contáctanos" */
/* fin página principal (index) */