/* inicio página "Pedidos Personalizados" */
/* Pedidos Personalizados: inicio sección "Pasos" */
.containerpedidosp {
    height: auto;
    background-color: $rosado;
    padding: 30px 40px 20px;
}
@mixin textopp ($ff, $colour, $fontsize) {
    font-family: $ff;
    color: $colour;
    font-size: $fontsize;
}
.h1pedidosp {
    @include textopp ($titulo, $morado, 30px);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
}
.ppedidos1 {
    @include textopp ($parrafo, $cereza, 14px);
    display:flex;
    max-width: 650px; 
    text-align: center;
    white-space: pre-wrap; 
    margin: auto;
}
.containerpasos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 20px 10px;

    i {
        color: $rosado;
        font-size: 15px;
        margin-bottom: 10px;
        background-color: $morado;
        display: inline-block;
        width: 50px; 
        height: 50px;
        line-height: 50px; /* Alinea verticalmente el icono dentro del contenedor */
        text-align: center; /* Alinea horizontalmente el icono dentro del contenedor */
        border-radius: 50%;
    }
}
@mixin estilospasos {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 250px;
}
.paso1 {
    @include estilospasos;
}
.paso2 {
    @include estilospasos;
}
.paso3 {
    @include estilospasos;
}
.paso4 {
    @include estilospasos;
}
.pasospedidosp {
    @include textopp ($titulo, $morado, 17px);
}
.ppedidos2 {
    @include textopp ($parrafo, $cereza, 13px);
}
@media (max-width:1138px) {
    .ppedidos2 {
        font-size: 11px;
    }
}
@media (max-width: 926px) {
    .containerpasos {
        display: flex;
        flex-direction: column;
    }
    .ppedidos2 {
        font-size: 13px;
    }
    .containerpedidosp {
        height: auto;
    }
}
/* Pedidos Personalizados: fin sección "Pasos" */

/* Pedidos Personalizados: inicio sección "Sus pedidos + Nuestra magia" */

@mixin containermix ($flex, $gap, $pad) {
    display: flex;
    flex-direction: $flex;
    gap: $gap;
    padding: $pad;
}

.containerimgpp {
    @include containermix(column, 20px, 30px);
    justify-content: center;
    align-items: center;
    background-color: $blanco;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.containercard {
    @include containermix(row, 200px, 30px 20px 20px);
}
.cardizq {
    display: flex;
    flex-direction: column;
    background-color: $morado;
    height: 570px;
}
.cardder {
    @extend .cardizq;
}
@mixin cardmix ($w, $h, $justify, $transition, $position) {
    display: flex;
    width: $w;
    height: $h;
    justify-content: $justify;
    transition: $transition;
    position: $position;
}
.cardizq-img {
    @include cardmix(375px, 500px, center, 0.5s, relative);
    flex-direction: column;
}
.cardder-img {
    @include cardmix(375px, 500px, center, 0.5s, relative);
    flex-direction: column;
}
.cardppcontent {
    @include cardmix(100%, 100%, flex-end, 0.5s, absolute);
    background-color: #493843c5;
    flex-direction: column;
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}
@mixin texto2pp ($fontfam, $colour, $fontsize, $textalign, $pad) {
    font-family: $fontfam;
    color: $colour;
    font-size: $fontsize;
    text-align: $textalign;
    padding: $pad;
}
.titulocardpp {
    @include texto2pp($titulo, $rosado, 23px, center, 20px 20px 15px 20px);
}
.hcardpp {
    @include texto2pp ($titulo, $rosado, 23px, left, 20px 20px 5px);
}
.pcardpp {
    @include texto2pp ($parrafo, $rosado, 13px, justify, 0 20px 20px);
}

@media (max-width:1075px) {
    .containercard {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}
@media (max-width:567px) {
    .cardizq-img {
        width: 262px;
        height: 350px;
    }
    .cardizq {
        height: 415px;
        width: 262px;
    }
    .cardder-img {
        width: 262px;
        height: 350px;
    }
    .cardder {
        height: 415px;
        width: 262px;
    }
    .titulocardpp {
        font-size: 18px;
    }
}
@media (max-width:389px) {
    .cardizq-img {
        width: 210px;
        height: 280px;
    }
    .cardizq {
        height: 350px;
        width: 210px;
    }
    .cardder-img {
        width: 210px;
        height: 280px;
    }
    .cardder {
        height: 350px;
        width: 210px;
    }
}
/* Pedidos Personalizados: fin sección "Sus pedidos + Nuestra magia" */
/* fin página "Pedidos Personalizados" */