/* inicio página "Postres" */
.sectionpostres {
    margin-top: 20px;;
}
@mixin postresletras ($fontf, $colour, $fonts) {
    font-family: $fontf;
    color: $colour;
    font-size: $fonts;
}
.h2postres {
    @include postresletras($titulo, $morado, 30px);
}
.titulospostres {
    @include postresletras($titulo, $blanco, 16px);
    text-align: left;
    width: 100%;
}
.ppostres {
    @include postresletras($parrafo, $rosado, 13px);
    text-align: justify;
    width: 100%;
}
@mixin containerspostres ($flexd, $pad) {
    display: flex;
    flex-direction: $flexd;
    padding: $pad;
}
.listapostres {
    @include containerspostres(row, 20px 100px 30px);
    gap: 50px;
    background-color: $blanco;
}
.antojos {
    @include containerspostres(column, 20px);
    flex: 1;
    align-items: center;
    gap: 20px;
}
.cardpostres {
    display: flex;
    flex-direction: row;
    background-color: $morado;
    width:500px;
    margin-bottom: 20px;

    img {
        width: 180px;
        height: 180px;
    }
}
.cardpostres-content {
    @include containerspostres(column, 10px);
    justify-content: center;
    align-items: center;
    max-width: 250px;
}
@media (max-width:1148px) {
    .titulospostres {
        font-size: 14px;
    }
    .ppostres {
        font-size: 11px;
    }
}
@media (max-width:1090px) {
    .titulospostres {
        font-size: 16px;
    }
    .ppostres {
        font-size: 13px;
    }
    .listapostres {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:696px) {
    .listapostres {
        padding: 20px 30px 30px;
    }
}
@media (max-width:696px) {
    .listapostres {
        padding: 20px 20px 30px;
    }
    .cardpostres {
        width: 400px;
    }
    .cardpostres-content {
        max-width: 180px;
    }
    .titulospostres {
        font-size: 15px;
    }
    .ppostres {
        font-size: 12px;
    }
    .cardpostres-image {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 515px) {
    .listapostres {
        padding: 20px 20px 30px;
    }
    .cardpostres {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-bottom: 30px;
    }
    .cardpostres-content {
        max-width: 180px;
    }
    .titulospostres {
        font-size: 14px;
    }
    .ppostres {
        font-size: 11px;
    }
}

/* fin página "Postres" */
