/* inicio página "Tortas Temáticas" */
#tortastematicas {
    padding: 40px 20px 0;
}
.py-5 {
    padding: 25px;
}
@mixin tortasttexto ($fontf, $color, $fonts, $align) {
    font-family: $fontf;
    color: $color;
    font-size: $fonts;
    text-align: $align;
}
.nombretortastem {
    @include tortasttexto($titulo, $blanco, 16px, center);
    padding: 20px 10px 0 10px;
}
.ptortastem {
    @include tortasttexto($parrafo, $rosado, 14px, center);
}
.containerimgtt {
    width: 263px;
    height: 350px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover .img1{
        opacity: 0;
    }

    &:hover .img2 {
        opacity: 1;
    }
}
.img1 {
    opacity: 1;
    transition: opacity 1.5s ease;
}
.img2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.5s ease;
}
.containerimgtt-content {
    background-color: $morado;
    width: 263px;
}
.col-lg-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 30px;
}
/* fin página "Tortas Temáticas" */